<!DOCTYPE html>
<html>

<head>
    {{template "inner_head"}}

    <style>
        section>p {
            text-align: center;
        }

    </style>
</head>

<body>
    {{template "header"}}
    <main>
        <section>
            <p style="font-size: x-large;"><strong>404</strong>. We couldn't find what you are
                looking for.</p>
            <p style="font-size: large;">The requested <code>{{.}}</code> was not found on the server.</p>
        </section>
    </main>

</body>

<footer>
    {{template "inner_footer"}}
</footer>

</html>
