<!DOCTYPE html>
<html>

<head>
    {{template "inner_head"}}
</head>

<body>
    {{template "header"}}

    <main>
        502 Internal Server Error
    </main>

</body>

<footer>
    {{template "inner_footer"}}
</footer>

</html>
