<!DOCTYPE html>
<html>

<head>
    {{template "inner_head"}}
</head>

<body>
    {{template "header"}}
    <main>
        <section>
            {{range .}}
            <aside>
                <!-- title -->
                <h3>{{.Name}}</h3>
                <!-- file type -->
                <p>{{.Type}}</p>
                <!-- view:button-->
                <p><a href={{.URI}} target="_blank"><em>View</em></a></p>
            </aside>
            {{end}}
        </section>
    </main>

</body>

<footer>
    {{template "inner_footer"}}
</footer>

</html>
