{{define "inner_index_head"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- for reference: https://andybrewer.github.io/mvp/mvp.html -->
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<link rel="shortcut icon" href="https://www.cuahsi.org/images/favicon.png" type="image/x-icon">

<title>CUAHSI GeoFormat Cloud Converter</title>

<!-- css style additions and overrides -->
<style>
    :root {
        --color-error: #d32f2f;
        --color-error-dark: #c62828;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-bg: #353535;
        }
    }

    .spinner {
        border: 1px solid var(--color-secondary-accent);
        border-top: 2px solid var(--color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{{end}}

{{define "inner_head"}}
{{template "inner_index_head"}}
<!-- css style additions and overrides -->
<style>
    header {
        padding-bottom: 0rem;
    }

    header>nav {
        margin-bottom: 0rem;
    }
</style>
{{end}}
