{{define "start_header"}}
<header>
    <nav>
        <a href="https://www.cuahsi.org/">
            <img src="https://www.cuahsi.org/uploads/pages/img/CUAHSI-4-color-logo_with_URL.png" alt="CUAHSI Logo"
                height="60">
        </a>
        <ul>
            <li><a href="/">Convert</a></li>
            <li><a href="/datasets">Datasets</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
{{end}}

{{define "end_header"}}
</header>
{{end}}

{{define "header"}}
{{template "start_header"}}
{{template "end_header"}}
{{end}}
