<!DOCTYPE html>
<html>

<head>
    {{template "inner_index_head"}}
</head>

<body>
    {{template "start_header"}}
    <h2>Convert Geospatial Data to Cloud-Native Formats</h2>
    <h3>Make <em>your</em> data <u>work</u> for <b><em>your community</em></b></h3>
    {{template "end_header"}}

    <main>
        <section>
            <form action="" id="form" style="display: flex; flex-direction: column; flex-wrap: nowrap;">

                <label for="file_type">Select file type:
                    <small id="invalid-file-type" style="color: var(--color-error);"></small>
                </label>
                <select name="file_type" id="file_type" required>
                    <option value="">Select a format</option>
                    <option value="tif">GeoTiff</option>
                    <option value="shp">Shapefile (zipped)</option>
                </select>
                <!-- Accept tif and zip files -->
                <input type="file" id="file" required accept="image/tiff, application/zip">
                <button type="submit" id="button">Upload</button>
                <article style="display: flex; justify-content: center;">
                    <div id="spinner"></div>
                </article>
            </form>
        </section>
    </main>

</body>

<footer>
    {{template "inner_footer"}}

    <script>
        const button = document.getElementById("button");
        button.addEventListener("click", submit);

        // submit function for the form
        function submit(e) {
            // prevent form's default submit action
            e.preventDefault();
            const selectedFile = document.getElementById("file");
            const fileType = document.getElementById("file_type").value;

            const invalidFileAlert = document.getElementById("invalid-file-type")
            // reset text content
            invalidFileAlert.textContent = ""

            if (selectedFile.files.length === 0) {
                invalidFileAlert.textContent = "Must select a file"
                return
            }
            if (fileType === "") {
                invalidFileAlert.textContent = "Must select a file type"
                return
            }

            // assume only one file.
            // given <input/> does not not have attribute `multiple` this should be enforced by browser
            const file = selectedFile.files[0]

            var dirPrefix = ""
            // File upload bucket prefix
            switch (file.type.toLowerCase()) {
                case "application/zip":
                    dirPrefix = "shp/"
                    break;
                case "image/tiff":
                    dirPrefix = "tif/"
                    break;
                default:
                    console.error(`invalid mime type: ${file.type}`)
                    invalidFileAlert.textContent = "Must select a file type"
                    return
            }

            // remove leading white space
            let fileName = file.name.trimStart()

            // remove filename that starts with relative path i.e. "../this.tif" -> "this.tif"
            let leading_relative_path = /^([.]{2}\/)+/
            fileName = fileName.replace(leading_relative_path, "")

            const file_to_upload = {
                name: encodeURIComponent(dirPrefix + fileName),
                type: file.type,
                content: file,
                size: file.size
            }

            console.info(selectedFile.files)
            console.info(`file: ${file_to_upload}`)

            // get a google access token from our own server
            /******* CHANGE THE URL TO SUIT YOUR NEEDS *******/
            fetch('/token')
                .then(r => r.json())
                .then(data => {
                    console.debug(data)
                    doUpload(data.token, file_to_upload)
                })
                .catch(err => console.log(err));
        }

        function doUpload(token, file) {
            /******* CHANGE TO YOUR OWN BUCKET'S NAME *******/
            const BUCKET = "{{- .BucketName -}}";
            console.debug(`bucket name: ${BUCKET}`);

            const BASE_URL = "https://www.googleapis.com/upload/storage/v1/b/" + BUCKET + "/o";
            // using the simple media upload as per the spec here: https://cloud.google.com/storage/docs/json_api/v1/how-tos/simple-upload
            // uploadType=media&name=

            // curl - X POST --data - binary @OBJECT_LOCATION \
            // -H "Authorization: Bearer OAUTH2_TOKEN" \
            // -H "Content-Type: OBJECT_CONTENT_TYPE" \
            // "https://storage.googleapis.com/upload/storage/v1/b/BUCKET_NAME/o?uploadType=media&name=OBJECT_NAME"

            //const queryParams = encodeURIComponent(`uploadType=media&name=${fileName}`);
            const queryParams = `uploadType=media&name=${file.name}`;
            const URL = BASE_URL + '?' + queryParams;
            console.debug(`upload url: ${URL}`)

            const spinner = document.getElementById("spinner")
            const button = document.getElementById("button")
            // hide submit button
            button.style.display = "none";
            // start spinner
            spinner.classList.toggle("spinner")

            // do the upload
            // headers are required, and here, we're naively getting the MIME type from the file extension
            fetch(URL, {
                method: 'POST',
                headers: new Headers({
                    'Content-Type': file.type,
                    'Content-Length': file.size,
                    'Authorization': `Bearer ${token}`,
                }),
                body: file.content,
            })
                .then(r => {
                    // show upload button
                    button.style.display = "inline-block";
                    // stop spinner
                    spinner.classList.toggle("spinner")

                    return r.json()
                })
                .then(resp => console.info(resp))
                .catch(err => console.info(err));

        }

    </script>
</footer>

</html>
