<!DOCTYPE html>
<html>

<head>
    {{template "inner_head"}}
</head>

<body>
    {{template "header"}}
    <main>
        <section>
            <iframe src="https://araney.users.earthengine.app/view/cogee?image={{.Url}}"
                style="width: 100%; height: 480px;"></iframe>
        </section>
    </main>

</body>

<footer>
    {{template "inner_footer"}}
</footer>

</html>
