<!DOCTYPE html>
<html>

<head>
    {{template "inner_head"}}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/flatgeobuf@3.22.0/dist/flatgeobuf-geojson.min.js"></script>
    <style>
        #map {
            height: 480px;
            width: 100%
        }

    </style>
</head>

<body>
    {{template "header"}}

    <main>
        <section>
            <div id="map"></div>
            <script type="module">
                const map = L.map('map').setView([41.505, -80.09], 4)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map)

                const response = await fetch("{{.Url}}")
                for await (const f of flatgeobuf.deserialize(response.body))
                    L.geoJSON(f).addTo(map)
            </script>
        </section>
    </main>

</body>

<footer>
    {{template "inner_footer"}}
</footer>

</html>
